@font-face {
    font-family: 'Consolas';
    src: url('/fonts/CONSOLA.TTF');
}
* {
    box-sizing: border-box;
    height: auto;
}

h1, h2 {
    font-family: 'Consolas';
    margin: 0;
    height: auto;
}

p {
    font-family: 'Consolas';
    margin: 0;
    height: auto;
}

.chart-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: auto;
}

.chart-container img {
    max-width: 100%;
    height: auto;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 20px;
    height: auto;
}

.text-block {
    font-family: 'Consolas';
    flex-basis: 30%;
    margin: 10px 0;
    height: auto;
}

.text-block h2 {
    font-family: 'Consolas';
    margin-bottom: 10px;
    height: auto;
}

#container-1234 {
    border: 3px solid gray;
    border-radius: 0 0 10px 10px;
    display: block;
    padding: 30px;
    height: auto;
    width: 82%;
    overflow: hidden;
}
