@font-face {
    font-family: 'Consolas';
    src: url('/fonts/CONSOLA.TTF');
}

html, body {
    height: auto;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #d2bda9;
    font-family: Consolas;
}

p {
    font-family: 'Consolas';
    margin: 0;
    height: auto;
}

.main-div {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #cea57d;
    border-radius: 20px;
    background-color: #cea57d;  
    width: 100%;
}

#column-button-container {
    margin-left: 3.2%;
    display: flex;
    width: 60%;
    justify-content: flex-start;
}

#csv-button-container {
    display: flex;
    width: 60%;
    justify-content: flex-end; 
	right: 10%;
}

#add-column-btn {
    padding: 7px 20px;
    margin-right: 2%;
}

#add-column-btn:hover {
    background-color: #e0e0e0;
}

#remove-column-btn {
    padding: 2px 20px 5px 20px;
    font-size: 35px;
}

#remove-column-btn:hover {
    background-color: #e0e0e0;
}

#load-from-csv-btn {
    padding: 5px 15px;
    margin-right: 2%;
}

#load-from-csv-btn:hover {
    background-color: #e0e0e0;
}

.button-container {
    margin-top: 20px;
    margin-bottom: 2vh;
    display: flex;
    overflow-x: auto;
    width: 86%;
}

.button-container button {
    background-color: aliceblue;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 30px;
}

.table-container {
    justify-content: center;
    width: 60vw;
    margin: 10px 5px;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
}

td {
    border: 1.5px solid black;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
}

td input {
    background-color: transparent;
    max-width: 70px;
    border: none;  
    font-size: 20px;
}

th {
    font-size: 25px;
    padding-right: 10px;
}

td input:focus {
    outline: none;
}

/* Убираем стрелочки у полей ввода чисел */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 82%;
}

.tabs-container button {
    flex: 1;
    border: 3px solid gray;
    border-bottom-width: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    font-size: 20px;
}

.tabs-container button:not(:last-child) {
    margin-right: -1px; /* Убираем между кнопками отступ, чтобы они прилегали друг к другу */
}

.tabs-container button.active {
    background-color: azure;
    font-size: 24px;
}

#container-1234 {
    border: 3px solid gray;
    border-radius: 0 0 10px 10px;
    display: block;
    margin-bottom: 50px;
    padding: 10px;
    width: 82%;
    height: auto;
}

body {
    margin-top: 70px;
    margin-bottom: 70px;
}
h1 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 22px;
    font-family: 'Consolas';
    margin-left: 20px;
    display: block;
    margin-right: 20px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div.text {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

div.bg {
    width: 70%;
    background: #cea57d;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50px;
}

div.line {
    display: inline-block;
}

img.line {
    width: 10%;
    vertical-align: top;
    display: inline-block;
}

.root {
    background: #cea57d;
    border-radius: 50px;
}

footer p {
    font-family: "Consolas"; 
    font-size: 18px;
    color: #3f3f3f;
}
