<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title></title>
    <style>
        table {
            margin-top: 0px;
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        .bottom {
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: bottom;
            text-align: center;
            line-height: 30px;
        }
    </style>

  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        },
        startup: {
            ready() {
                MathJax.startup.defaultReady();
                MathJax.typesetClear();
                MathJax.typeset();
            }
        }
    };
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='content/compare.css') }}">

</head>
<body>
    <table id="container-1234" class="content-container">
        <tr>
            <th>\(Δy_{бi}\)</th>
            <th>\(Δy_{цi}\)</th>
            <th>\(T_{Пбi}\)</th>
            <th>\(T_{Пцi}\)</th>
            <th>\(T_{Рбi}\)</th>
            <th>\(T_{Рцi}\)</th>
            <th>\(\overline{y}\)</th>
            <th>\(\overline{Δy}\)</th>
			<th>\(\overline{T_{р}}\)</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>
</body>
</html>
