{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>


<address>
    <strong>Егор Иванов (разработчик):</strong>   <a href="mailto:egorchima@gmail.com">egorchima@gmail.com</a><br />
    <strong>Даниил Кидалов (разработчик):</strong> <a href="mailto:danalex2006@yandex.ru">danalex2006@yandex.ru</a><br />
    <strong>Осипов Руслан (разработчик):</strong> <a href="mailto:ruslanosipov2005@gmail.com">ruslanosipov2005@gmail.com</a><br />
    <strong>Михаил Силкович (разработчик/руководитель проекта):</strong> <a href="mailto:silkovichmi20001308@gmail.com">silkovichmi20001308@gmail.com</a>

</address>

{% endblock %}
