{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content/main.css') }}">
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</head>
<body>
    <div class="main-div" class="root">
        <form id="data-form" class="main-div" class="root" onsubmit="return processData()">
            <div class="button-container">
                <div id="column-button-container">
                    <button id="add-column-btn" type="button" onclick="addColumn(1); return false;">+</button>
                    <button id="remove-column-btn" type="button" onclick="removeColumn(1); return false;">-</button>
                </div>
                <div id="csv-button-container">
                    <button id="load-from-csv-btn" type="button" onclick="loadFromCSV(); return false;">Загрузить из .csv</button>
                </div>
            </div>
            
            <div class="table-container">
                <div class="table-wrapper">
                    <table id="input-table">
                        <tr>
                            <th><b>X</b></th>
                        </tr>
        
                        <tr>
                            <th><b>Y</b></th>
                        </tr>
                    </table>
                </div>
            </div>
    
            <div class="tabs-container">
                <button type="button" onclick="processData('12');" id="btn12">Аппроксимация</button>
                <button type="button" onclick="processData('3');" id="btn3">Сравнение</button>
                <button type="button" onclick="processData('4');" id="btn4">Показатели анализа</button>
            </div>
    
            <div class="content-container" id="container-1234"></div>

            <script>
                function processData(t) {
                    // Сбор данных из таблицы в двумерный массив
                    var table = document.getElementById('input-table');
                    var data = [];
                    var file = '';
                    var tag = '';
                    
                    for (var i = 0; i < table.rows.length; i++) {
                        var rowData = [];
                        for (var j = 1; j < table.rows[i].cells.length; j++) {
                            rowData.push(table.rows[i].cells[j].querySelector('input[type="number"]').value);
                        }
                        data.push(rowData);
                    }
                    
                    switch (t) {
                        case '12': { file='approximation.html'; tag='container-1234'; break; }
                        case '3': { file='comparison.html'; tag='container-1234'; break; }
                        case '4': { file='analyzing.html'; tag='container-1234'; break; }
                    }

                    // Отправка данных на сервер (можно использовать AJAX запрос)
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', `/load-html/${file}/${tag}`, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                const myDiv = document.getElementById('container-1234');
                                // myDiv.innerHTML = ''; // очищаем содержимое контейнера
                                myDiv.outerHTML = xhr.responseText; // устанавливаем новый фрагмент разметки
                            } else {
                                console.error('Ошибка при запросе на сервер');
                            }
                        }
                    };
                    xhr.send(JSON.stringify(data));
                    
                    return false; // Чтобы форма не отправляла данные по умолчанию
                }
            </script>
        </form>
    </div>
</body>
</html>

{% endblock %}