{% extends "layout.html" %}

{% block content %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/content/theory.css" />
    <title>Approximation</title>
</head>
<body>
    <div class="bg">
        <div class="text">
            <h1>Ряды динамики. Аппроксимация функций. Метод наименьших квадратов.</h1>
            <br />
            <p>Динамический ряд — это ряд однородных величин, который показывает изменение изучаемого фактора во времени.</p>
            <p>Его можно рассматривать как статистическую форму для отображения развития параметра по времени.</p>
            <p>Числа, составляющие динамический ряд, называются уровнями ряда. Они могут быть представлены абсолютными числами, относительными и средними величинами.</p>
            <br>
            <p><b>Средний уровень ряда</b> рассчитывается как простое среднее арифметическое показателей динамического ряда:</p>
            <img src="..\static\images\formula1.png" class="displayed">
            <br>
            <p>Для расчета <b>абсолютного прироста</b>, <b>темпа роста</b> и <b>темпа прироста</b> используют формулы:</p>
            <img src="..\static\images\formula22.png" class="displayed">
            <br />
            <p>Средние значения этих показателей равны:</p>
            <img src="..\static\images\formula3.png" class="displayed">
            <br>
            <p>Провести аналитическое выравнивание динамического ряда методом наименьших квадратов, т.е. функцию <i>y = f(x)</i> , заданную таблично, аппроксимировать многочленом первой степени <i>y = P<sub>1</sub>(x) = a<sub>1</sub> + a<sub>2</sub>x</i>, для чего найдем коэффициенты <i>a<sub>1</sub></i> и <i>a<sub>2</sub></i> методом наименьших квадратов, решив систему уравнений:</p>
            <img src="..\static\images\formula4.png" class="displayed">
            <p>Провести аналитическое выравнивание динамического ряда методом наименьших квадратов, т.е. функцию <i>y = f(x)</i> , заданную таблично, аппроксимировать многочленом второй степени <i>y = P<sub>2</sub>(x) = a<sub>0</sub> + a<sub>2</sub>x +  a<sub>2</sub>x<sub><small>2</small></sub></i>, для чего найдем коэффициенты <i>a<sub>1</sub></i> и <i>a<sub>2</sub></i> методом наименьших квадратов, решив систему уравнений:</p>
            <img src="..\static\images\formula5.png" class="displayed">
            <br>
        </div>
    </div>
</body>
{% endblock %}
